@font-face {
  font-family: 'Apple II';
  src: url('../../fonts/font.ttf');
}

html, body {
  color: #12ff1e;
  font-size: 1em;
  font-family: 'Apple II';
  line-height: 2vh;
  background-color: #030e00;
  text-shadow: 0 0 5px rgba(0, 255, 47, 0.471);
}

.chat {
  margin-top:  .5em;
  margin-bottom: .5em;
}

.display {
  display: flex;
  flex-direction: column;
}

.images {
  display: flex;
  flex-direction: row;
}

.chat-container {
  justify-content: flex-end;
}

.nav {
  justify-items: flex-end;
}

@keyframes blink {
  0% {
      background: rgb(54, 255, 47);
  }

  49% {
      background: rgb(54, 255, 47);
  }

  60% {
      background: transparent;
  }

  99% {
      background: transparent;
  }

  100% {
      background: rgb(54, 255, 47);
  }
}