@font-face {
  font-family: 'Apple II';
  src: url('../../fonts/font.ttf');
}

html, body {
  color: #12ff1e;
  font-size: 1em;
  font-family: 'Apple II';
  line-height: 2vh;
  background-image: repeating-linear-gradient(black 200% 1vh, #030e00 10vh);
  /* background: repeating-linear-gradient(rgba(4, 60, 0, 0.03) 0.5vh, rgba(0, 0, 0, 0.05) 0.8vh); */
  text-shadow: 0 0 5px rgba(0, 255, 47, 0.471);
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: repeating-linear-gradient(rgba(4, 60, 0, 0.03) 0.5vh, rgba(0, 0, 0, 0.05) 0.8vh);
    z-index: -1;
}

@keyframes blink {
  0% {
      background: rgb(54, 255, 47);
  }

  49% {
      background: rgb(54, 255, 47);
  }

  60% {
      background: transparent;
  }

  99% {
      background: transparent;
  }

  100% {
      background: rgb(54, 255, 47);
  }
}